In [1]:
## import data manipulation packages
import pandas as pd
import numpy as np
from sklearn.neighbors import DistanceMetric
from math import radians

In [2]:
## import dataset as variable 'city' and drop NaN
cities = pd.read_excel('data/worldcities.xlsx')
ct = cities.dropna(axis = 'rows', how = 'any')

In [3]:
## drop not usable columns
ct = ct.drop(['city_ascii', 'country', 'iso2', 'admin_name', 'capital', 'population'], axis = 1)

In [4]:
## coversion of coordinated in degrees to radians
ct['lat'] = np.radians(ct['lat'])
ct['lng'] = np.radians(ct['lng'])

In [5]:
## get the scipy metrics
dist = DistanceMetric.get_metric('haversine')

In [6]:
## prepare the array to get in input for the distance calculation
ct[['lat','lng']].to_numpy()

array([[ 0.62290277,  2.43808883],
       [-0.10846523,  1.86479878],
       [ 0.50021136,  1.34791778],
       ...,
       [-0.57810541, -1.12308098],
       [ 0.05539326, -1.14400398],
       [ 0.8546249 ,  1.68918725]])

In [7]:
## pass pairwise function to get the distance / multiply for 6373 as earth sperical radius is 6373kms
dist.pairwise(ct [['lat','lng']].to_numpy())*6373

array([[    0.        ,  5787.90376514,  5835.24850156, ...,
        17802.44164785, 14963.27221178,  3763.88990049],
       [ 5787.90376514,     0.        ,  5011.26756513, ...,
        15548.07263324, 19112.74637668,  6215.36837225],
       [ 5835.24850156,  5011.26756513,     0.        , ...,
        16340.95395707, 14699.22965152,  2805.95968927],
       ...,
       [17802.44164785, 15548.07263324, 16340.95395707, ...,
            0.        ,  4039.25704802, 17665.78252814],
       [14963.27221178, 19112.74637668, 14699.22965152, ...,
         4039.25704802,     0.        , 13975.81579146],
       [ 3763.88990049,  6215.36837225,  2805.95968927, ...,
        17665.78252814, 13975.81579146,     0.        ]])

In [8]:
## create the distance matrix with cities in the indexes
distance = pd.DataFrame(dist.pairwise(ct[['lat','lng']].to_numpy())*6373, columns = ct['id'], index = ct['id'])
print(distance)

id            1392685764    1360771077    1356872604    1356226629  \
id
1392685764      0.000000   5787.903765   5835.248502   6736.368099
1360771077   5787.903765      0.000000   5011.267565   4662.287622
1356872604   5835.248502   5011.267565      0.000000   1166.997459
1356226629   6736.368099   4662.287622   1166.997459      0.000000
1608618140   2997.194340   2790.717691   4755.337989   5135.012933
...                  ...           ...           ...           ...
1558125707  13121.910379  18749.404488  15165.430715  15817.752584
1887613470   8894.127127   6573.440879   3059.249501   2331.235749
1032552145  17802.441648  15548.072633  16340.953957  15498.485119
1862255876  14963.272212  19112.746377  14699.229652  14845.181740
1496403046   3763.889900   6215.368372   2805.959689   3965.565663

id            1608618140    1156073548    1076532519    1410836482  \
id
1392685764   2997.194340   1762.022389  18539.985246   1151.307887
1360771077   2790.717691   4439.073727  15633.270814   5301.084998
1356872604   4755.337989   4245.899648  14435.543331   4686.015643
1356226629   5135.012933   5042.317116  13770.532326   5609.664945
1608618140      0.000000   1843.853592  18383.444025   2625.115302
...                  ...           ...           ...           ...
1558125707  16090.269529  14624.981545   5563.271005  13749.352769
1887613470   7460.176624   7282.103396  11464.162754   7744.151917
1032552145  17891.554956  19432.233134   2030.431310  18879.695225
1862255876  17918.131316  16130.051721   3610.505927  15306.485745
1496403046   4413.827801   2862.618398  15760.015648   2730.044397

id            1484247881    1156237133  ...    1156608652    1032937217  \
id                                      ...
1392685764  11309.380364   2903.800481  ...   2042.104954  17272.893271
1360771077  16850.822244   3337.523542  ...   5645.229680  15946.673838
1356872604  14657.705599   3643.361387  ...   3972.745472  16770.842645
1356226629  15661.132639   4209.001394  ...   5005.989974  15998.649484
1608618140  14224.913173   1248.624550  ...   3229.094756  17998.910975
...                  ...           ...  ...           ...           ...
1558125707   1906.564347  15808.268798  ...  13578.384232   4833.230618
1887613470  14986.079036   6529.451719  ...   6989.801779  13751.270848
1032552145   6915.216994  18885.313644  ...  18846.857659    557.012514
1862255876   4071.136107  17092.868130  ...  14815.586234   3733.495868
1496403046  12251.390567   3217.453293  ...   1736.399855  17620.770795

id            1032815504    1032163046    1032824407    1558125707  \
id
1392685764  17430.953191  17321.114190  17613.785448  13121.910379
1360771077  14614.032317  16161.358668  14579.375842  18749.404488
1356872604  16655.367194  16587.745120  16471.800907  15165.430715
1356226629  15616.162791  15877.068183  15439.602639  15817.752584
1608618140  16791.832158  18282.629698  16838.453684  16090.269529
...                  ...           ...           ...           ...
1558125707   6097.489802   4671.061599   6169.805705      0.000000
1887613470  13634.637399  13599.297568  13448.344756  14269.835575
1032552145   1103.133020    641.220957   1054.985097   5310.978147
1862255876   5067.878714   3481.586365   5069.283104   2179.599062
1496403046  18704.898913  17339.096845  18564.771556  13360.413795

id            1887613470    1032552145    1862255876    1496403046
id
1392685764   8894.127127  17802.441648  14963.272212   3763.889900
1360771077   6573.440879  15548.072633  19112.746377   6215.368372
1356872604   3059.249501  16340.953957  14699.229652   2805.959689
1356226629   2331.235749  15498.485119  14845.181740   3965.565663
1608618140   7460.176624  17891.554956  17918.131316   4413.827801
...                  ...           ...           ...           ...
1558125707  14269.835575   5310.978147   2179.599062  13360.413795
1887613470      0.000000  13292.341403  12771.412015   5571.045771
1032552145  13292.341403      0.000000   4039.257048  17665.782528
1862255876  12771.412015   4039.257048      0.000000  13975.815791
1496403046   5571.045771  17665.782528  13975.815791      0.000000

[6622 rows x 6622 columns]

In [9]:
## identify 'London' ID 
ct.loc[(ct['city'] == 'London') & (ct['iso3'] == 'GBR')]

      city      lat       lng iso3          id
34  London  0.89897 -0.002225  GBR  1826645935

In [10]:
## get starting line from distance matrix
distance.loc[[1826645935]]

id,1392685764,1360771077,1356872604,1356226629,1608618140,1156073548,1076532519,1410836482,1484247881,1156237133,...,1156608652,1032937217,1032815504,1032163046,1032824407,1558125707,1887613470,1032552145,1862255876,1496403046
id,,,,,,,,,,,,,,,,,,,,,
1826645935,9561.720229,11722.277893,6711.101944,7200.011313,10738.339656,9205.257531,9500.397619,8859.502225,8931.505631,9498.768799,...,7894.957917,11302.078019,12371.501064,11018.855747,12266.712345,8618.987807,6065.321395,11300.324944,8056.532077,6365.946966